<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'metabar.html' %}



  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet" href="static/css/bootstrap-material-design.css">
  <link rel="stylesheet" href="static/js/bootstrap/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="static/css/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="static/css/bootstrap-material-datetimepicker.css">
  <link rel="stylesheet" href="static/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="static/css/revampMMX.css">



</head>

<body id="page-top">

    {% include 'header.html' %}

  <div class="container-fluid" style="padding-top:50px;">
    <div class="row">
      <button id="ManageUsersLi" style="display: none!important">click</button>
      <div class="col-sm-12 col-md-12 col-lg-12" id="MangeUsersTableDiv">

      </div>
    </div>
  </div>

  <script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="static/js/popper.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap-material-design.min.js"></script>
  <script type="text/javascript" src="static/js/ie10-viewport-bug-workaround.js"></script>
  <script type="text/javascript" src="static/js/moment.js"></script>
  <script type="text/javascript" src="static/js/bootstrap-material-datetimepicker.js"></script>
  <script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="static/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="static/js/Manageusers.js"></script>
 
</body>

</html>